body{
    background-color: #1c1c1c;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/* cabecera */
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #121314;
}
header {
	margin-bottom:30px;
}

a.active{
    border-bottom: solid 2px white;
}
a.list-group-item.active{
    border-color: #F7F72B !important;
}
.modal-backdrop, .modal-backdrop.in{
  display: none;
}

.modal{
    color: black;
}
.modal-footer {   border-top: 0px; }
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { 
    left: 1px;
    top: 5px;
}

/* add padding  */
.left-addon input  { padding-left:  30px; }


.navbar-nav>li>a, div>a{
    color: #dfe0e6 !important;/*white !important;*/
    font-weight: 400;
    font-size: 16px;
}

.navbar-nav>li>a:hover, div>a:hover{
    color: white !important;
}
.navbar-header{
    border-right: solid 1px white;
}

/* /cabecera */


/*topten*/
.list-group-head{
    border-bottom: 1px solid #262626;
}

.list-group-item.active{
    font-size: 20px;
    color: #000 !important;
    background-color: #F7F72B !important;   
    border-color: #1C1C1F;
}
.list-group-item.active:hover{
    color: #000 !important;
}

.list-group-item{
    color: #dfe0e6 !important;
    background-color: #1C1C1F;
}

.list-group-item:hover, .list-group-item:focus{
    color: #FFF !important;
    background-color: #2C2C2C;
}

.top-ten-num{
    color: #8c8c8c;
    font-size: 2em;
    width: 20px;
    padding: 0 20px;
}
.top-ten-track-title{
    font: 700 1.077em/1.25 "SourceSans",Arial,sans-serif;
    letter-spacing: .02em;
    color: #fff;
    height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.top-ten-track-artist{
    font: 700 1em/1.25 "SourceSans",Arial,sans-serif;
    letter-spacing: .02em;
    color: #8c8c8c;
    color: #39c1de !important;
    height: 17px;
    overflow-y: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*/topten*/

/* nuevos tracks */
a:hover{

    color: #39c1de;
    text-decoration: none !important;
}

.new-items-group{
    list-style:none;
    padding-left: 8px;
}

.new-items-group>li{
    padding: 10px;
    margin: 10px 0;
}

.new-items-group li:hover{
    background-color: #2C2C2C;
}

.new-items-group>li>img{
    margin-bottom: 5px;
}

.item-info > a{
    color: white;
    text-decoration: underline;
}

.glyphicon-heart{
    float: right;
    color: #FF53A0;
    font-size: 30px;
}

.likes{
    font-size: 14px;
}

/*.tooltip{
    top: 0px !important;
}*/
/* / nuevos tracks */


/* sellos destacados*/
a.featured-label-info{
    color:white; 
    text-align:center; 
}
.featured-label-img{
    /*width: 250px; 
    height: 250px;*/
    margin-bottom: 10px;
}
.label-item{
    border: white solid 10px;
}
/* / sellos destacados*/


/*artista*/
.artista-img{
    width: 500px;
    height: 282px;
}

.artist-song{
    width: 100px;
    height: 80px;
}

.artista-desc > .panel > .panel-body{
    background-color: #2c2c2c !important;
}

.info-track{
    margin-bottom: 20px;
}

/* / artista*/


audio{
    float: right;
    width: 220px;
}
