body{
    background-color: #1c1c1c;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #121314;
}
header {
	margin-bottom:30px;
}

.navbar-nav>li>a{
    color: #dfe0e6 !important;/*white !important;*/
    font-weight: 400;
    font-size: 16px;
}

.navbar-nav>li>a:hover{
    color: white !important;
}
.navbar-header{
    border-right: solid 1px white;
}

a.list-group-item.active{
    font-size: 20px;
    color: #000 !important;
    background-color: #F7F72B !important;   
    border-color: #1C1C1F;
}
a.list-group-item.active:hover{
    color: #000 !important;
}

.list-group-item{
    color: #dfe0e6 !important;
    background-color: #1C1C1F;
}

a.list-group-item:hover, a.list-group-item:focus{
    color: #FFF !important;
    background-color: #2C2C2C;
}

/* nuevos tracks */
.new-items-group{
    list-style:none;
    padding-left: 8px;
}

.new-items-group>li{
    padding: 10px;
    margin: 10px 0;
}

.new-items-group li:hover{
    background-color: #2C2C2C;
}

.new-items-group>li>img{
    margin-bottom: 5px;
}

.item-info > a{
    color: white;
    text-decoration: underline;
}

/* / nuevos tracks */
